
*.zip
MetalBird/\#auto_saved_files\#
MetalBird/~MetalBird.kicad_sch.lck
*.bak
MetalBird/_autosave-MetalBird.kicad_sch
MetalBird/fp-info-cache
MetalBird/_autosave-MetalBird.kicad_pcb
MetalBird/~_autosave-MetalBird.kicad_pcb.lck
MetalBird/~MetalBird.kicad_pcb.lck
